---

---
<div class="relative group cursor-pointer">
    <img src="/src/icons/info-circle.svg" alt="info" class="w-5 h-5 transition-transform group-hover:scale-125" />
    <div class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2 
                px-2 py-1 bg-[#7e857e] text-white text-sm rounded 
                whitespace-nowrap opacity-0 group-hover:opacity-100 
                transition-opacity duration-200 z-10 pointer-events-none">
      Esta parte sirve unicamente durante tiempo de compilacion
    </div>
  </div>