---
//in build rename to _dev/
import CreateFormInvitaciones from "../../components/creacion/CreateFormInvitaciones.astro";
import Layout from "../../layouts/Layout.astro";
import InfoWithTooltip from "../../components/creacion/InfoWithTooltip.astro";
import Notification from "../../components/creacion/Notification.astro";

---

<Layout>
  <div class="w-screen flex items-center h-screen bg-[#f1f1f3] justify-center flex-col p-4 font-[Montserrat]">
    <header class="text-center mb-4 w-full">
      <h1 class="font-[Montserrat] font-bold text-3xl text-gray-600">Creacion de Invitaciones</h1>
      <div class="flex flex-row items-center w-full justify-center gap-2 relative">
        <h2 class="font-[Montserrat] text-lg font-bold text-red-400">solo en compilacion</h2>
        <InfoWithTooltip/>
      </div>
    </header>

    <main class="min-w-[40vw] bg-[#fff] rounded-lg shadow-md p-4 mt-4">
      <CreateFormInvitaciones />
    </main>
    <a href="/dev/listado" class="text-cyan-600 mt-4">¿Quieres ver todas las invitaciones?</a>
    <Notification type="success"/>
    <Notification type="error"/>
  </div>
</Layout>

<style>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
</style>
